.vscode
__pycache__
.ipynb_checkpoints
Image_Classifier_Attention/*.csv
comprehensive_test_output
Map_Registration/Maps/*
Map_Registration/Masks/*
Map_Registration/Pipeline_Test
Map_Registration/*.csv
Map_Registration/*.tfm
Map_Registration/*.png
*.csv
*.png